<html>
  <head>
    <title>
      Blog
    </title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <meta name="robots" content="noindex">
  </head>

  <body>
    <main>

      <div>
        {{ range $i, $entry := $.EntriesToRender }}
          <article class="blog-entry">
            <h2><a href="/blog/{{ $entry.Id }}">{{ $entry.Title }}</a></h2>
            <em>{{ $entry.DateFormatted }}</em>

            <div class="blog-entry__body">
              {{ $entry.Body }}
            </div>
          </article>
        {{ end }}

      </div>

      <a href="/blog?skip={{ $.NextSkip }}">Next Page</a>


      <div id="kendrick">
        <hr />
        <i>"Dream only a dream if work don't follow it"</i>
      </div>


    </main>

    <nav>


      <h1>
        Artur Sapek
      </h1>
      <p>Founder <a href="https://cryptowat.ch">Cryptowatch</a>, working at <a href="https://kraken.com">Kraken</a></p>

      <p>
      Contact: <a href="mailto:me@artur.co">me@artur.co</a> | <a href="/artur.gpg">PGP Key</a>
      </p>
        <p>
        <a href="https://twitter.com/borrowcheck"><img src="/static/logos/twitter.png" width="16" /> @borrowcheck</a>
        </p>
        <p>
        <a href="https://github.com/artursapek"><img src="/static/logos/github.png" width="16" /> @artursapek</a>
        </p>
        <p>
          <a href="https://keybase.io/artur"><img src="/static/logos/keybase.png" width="16" />  @artur</a>
        </p>
        <p>
          <a href="https://online-go.com/user/view/276168"><img src="/static/logos/ogs.png" width="16" /> @borrowcheck</a>
        </p>


      <h3>Archive</h3>


      <ol>
        {{ range $i, $entry := $.Entries }}
          <li>
            <span class="entry-date">{{ $entry.DateFormatted }} - </span>
            <a href="/blog/{{ $entry.Id }}">
              {{ $entry.Title }}
            </a>
          </li>
        {{ end }}
      </ol>


    </nav>



  </body>
</html>
