<html>
  <head>
    <title>
      {{ $.Entry.Title }}
    </title>
    <link rel="stylesheet" href="/assets/styles/blog.css" />
    <meta name="robots" content="noindex">
    <meta property="og:title" content="{{ $.Entry.Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://artur.co/blog/{{ $.Entry.Id }}" />
    {{ if $.Entry.CoverImage }}
    <meta property="og:image" content="https://artur.co/static/{{ $.Entry.CoverImage }}" />
    {{ end }}
  </head>

  <body>

    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; <a href="/blog">blog</a> &gt; {{ $.Entry.Title }}
    </header>

    <main>
      <article class="blog-entry">
        <h2><a href="/blog/{{ $.Entry.Id }}">{{ $.Entry.Title }}</a></h2>
        <em>{{ $.Entry.DateFormatted }}</em>

        <div class="blog-entry__body">
          {{ $.Entry.Body }}
        </div>
      </article>

    </main>

    <nav>
      <img src="/static/cows.jpg" width="300" />

      <h1>
        Artur Sapek's blog
      </h1>
      <p>
        Software, trading, food, parenting, gardening...
      </p>
      <p>
        Contact: <a href="mailto:me@artur.co">me@artur.co</a>
      </p>
      <ol>
        {{ range $i, $entry := $.Entries }}
          <li>
            {{ $entry.DateFormatted }} - 
            <a href="/blog/{{ $entry.Id }}">
              {{ $entry.Title }}
            </a>
          </li>
        {{ end }}
      </ol>
    </nav>

  </body>
</html>

