<html>
  <head>
    <title>
      {{ $.Entry.Title }} | Artur Sapek
    </title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ $.Entry.Title }}" />
    <meta name="twitter:title" content="{{ $.Entry.Title }}" />
    <meta name="twitter:creator" content="@borrowcheck" />

    <meta property="og:site_name" content="Artur Sapek" />

    <meta property="og:description" content="Artur Sapek's personal blog" />
    <meta name="twitter:description" content="Artur Sapek's personal blog" />

    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta property="og:url" content="https://artur.co/blog/{{ $.Entry.Id }}" />
    <meta name="twitter:url" content="https://artur.co/blog/{{ $.Entry.Id }}" />

    {{ if $.Entry.CoverImage }}
    <meta property="og:image" content="https://artur.co{{ $.Entry.CoverImage }}" />
    <meta name="twitter:image" content="https://artur.co{{ $.Entry.CoverImage }}" />
    {{ end }}
  </head>

  <body>
    <nav>

      <div id="about-me">
        <h1>
          <a href="/">
          Artur Sapek
          </a>
        </h1>
        <p>Founder <a href="https://cryptowat.ch">Cryptowatch</a>, working at <a href="https://kraken.com">Kraken</a></p>

        <p>
        Contact: <a href="mailto:me@artur.co">me@artur.co</a> | <a href="/artur.gpg">PGP Key</a>
        </p>
      </div>

      <div id="find-me">
        <p>
        <a href="https://twitter.com/borrowcheck"><img src="/static/logos/twitter.png" width="16" /> @borrowcheck</a>
        </p>
        <p>
        <a href="https://github.com/artursapek"><img src="/static/logos/github.png" width="16" /> @artursapek</a>
        </p>
        <p>
          <a href="https://keybase.io/artur"><img src="/static/logos/keybase.png" width="16" />  @artur</a>
        </p>
        <p>
          <a href="https://online-go.com/user/view/276168"><img src="/static/logos/ogs.png" width="16" /> @borrowcheck</a>
        </p>
      </div>


      <div id="archive-desktop">
        <h3>Archive</h3>

        <ol>
          {{ range $i, $entry := $.Entries }}
            <li>
              <span class="entry-date">{{ $entry.DateFormatted }} - </span>
              <a href="/blog/{{ $entry.Id }}">
                {{ $entry.Title }}
              </a>
            </li>
          {{ end }}
        </ol>
      </div>
    
    
    </nav>

    <main>
      <article class="blog-entry">
        <h1><a href="/blog/{{ $.Entry.Id }}">{{ $.Entry.Title }}</a></h1>
        <em>{{ $.Entry.DateFormatted }}</em>

        <div class="blog-entry__body">
          {{ $.Entry.Body }}
        </div>
      </article>

      <div id="archive-mobile">
        <h3>Archive</h3>

        <ol>
          {{ range $i, $entry := $.Entries }}
            <li>
              <span class="entry-date">{{ $entry.DateFormatted }} - </span>
              <a href="/blog/{{ $entry.Id }}">
                {{ $entry.Title }}
              </a>
            </li>
          {{ end }}
        </ol>
      </div>



      <div id="kendrick">
        <hr />
        <i>"Dream only a dream if work don't follow it"</i>
      </div>

    </main>



  </body>
</html>

