html,
body {
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

main {
  margin: 10px 10px 10px 20px;
}

@media only screen and (max-width: 1105px) {
  main {
    max-width: 600px;
  }

  html,
  body,
  main {
    overflow-x: hidden;
  }

  nav {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  #archive-desktop {
    display: none;
  }

  #find-me {
    margin: 20px 0;
  }

  #find-me p {
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;

  }
}

@media only screen and (min-width: 1105px) {
  main {
    float: left;
    width: 600px;
    margin-right: 20px;
  }

  nav {
    border-left: 1px solid #ccc;
    margin: 20px 0 0 50px;
    padding-left: 50px;
    width: 400px;
    position: fixed;
    top: 0;
    left: 600px;
  }

  #archive-mobile {
    display: none;
  }

}

#archive-mobile {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

article.blog-entry {
  padding-bottom: 40px;
}

.blog-entry + .blog-entry {
  padding-top: 40px;
  border-top: 1px solid #ccc;
}

article.blog-entry h1,
article.blog-entry h2 {
  margin-bottom: 10px;
  padding-bottom: 0;
}

article.blog-entry h1 a,
article.blog-entry h2 a {
  color: black;
  text-decoration: none;
}

article.blog-entry h1 a:hover,
article.blog-entry h2 a:hover {
  color: blue;
  text-decoration: underline;
}

nav a {
  color: blue;
  text-decoration: none;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

nav h1 a,
nav h2 a {
  color: black;
  text-decoration: none;
}

nav h1 a:hover,
nav h2 a:hover {
  color: blue;
  text-decoration: underline;
}



.blog-entry__body {
  margin-top: 20px;
}

nav h3 {
  margin: 0;
  margin-top: 40px;
}

nav .entry-date {
  color: #646464;
}

nav ol {
  margin: 0;
  margin-top: 10px;
  padding: 0px;
}

/* looks like ravioli lol */
#archive-desktop ol li,
#archive-mobile ol li {
  list-style-type: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
}

code {
  color: green;
}

code,
pre {
  background: rgba(0, 0, 0, 0.07);
  padding: 3px;
  overflow: auto;
}
code,
pre {
  font-family: Consolas, Monaco, monospace;
  font-size: 12px;
}
.download {
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
  white-space: nowrap;
}

#kendrick {
  margin-top: 50px;
  font-size: 12px;
}

#kendrick hr {
  margin-bottom: 20px;
}
