<html>
<head>
<title>Artur Sapek</title>
<style>
  body {
    font-family: sans-serif;
  }
  p {
    margin: 0;
  }
  h3 {
    margin-bottom: 5px;
  }
  ul {
    margin:0;
    margin-left: 16px;
    padding: 0;
  }
</style>
</head>
<body>
  <table>
    <tr>
      <td width="400" valign="top">
        <p>
          <h1>Artur Sapek</h1>
          <p>Software engineer living in the mountains</p>
        </p>

        <h3>Work</h3>
        <p>
          <a href="http://cryptowat.ch">Cryptowatch</a> - Bitcoin market data
        </p>
        <p>
          <a href="http://codecademy.com">Codecademy</a> - learn how to code online, for free
        </p>

        <h3><a href="/blog">Blog</a></h3>
        {{ range $i, $entry := $.BlogEntries }}
        <p>
          {{ $entry.DateFormatted }} - <a href="/blog/{{ $entry.Id }}">{{ $entry.Title }}</a>
        </p>
        {{ end }}

        <h3>Find me</h3>
        <p>
          Twitter: <a href="https://twitter.com/borrowcheck">@borrowcheck</a>
        </p>
        <p>
          Github: <a href="https://github.com/artursapek">artursapek</a>
        </p>
        <p>
          Keybase: <a href="https://keybase.io/artur">artur</a>
        </p>
        <p>
          OGS: <a href="https://online-go.com/user/view/276168">@borrowcheck</a>
        </p>

        <h3>Contact</h3>
        <p>Telegram: <a href="https://t.me/excited_by_typos">@excited_by_typos</a></p>
        <p>Email: <a href="mailto:me@artur.co">me@artur.co</a></p>
        <p><a href="/artur.gpg">My PGP key</a></p>
  <br>
  <p>
    <i>"Dream only a dream if work don't follow it"</i>
  </p>
      </td>
      <td>
        <img src="/static/me.jpg" height="700" />
      </td>
    </tr>
  </table>
</body>
</html>
