
<html>
<head>
<title>Artur Sapek</title>
<style>
  p {
    margin: 0;
  }
  h3 {
    margin-bottom: 5px;
  }
</style>
</head>
<body>
  <table>
    <tr>
      <td width="400" valign="top">
        <p>
          <h1>Artur Sapek</h1>
          Software engineer living in New York
        </p>
        <h3>Work</h3>
        <p>
          <a href="http://codecademy.com">Codecademy</a> - learn how to code online, for free
        </p>
        <p>
          <a href="http://cryptowat.ch/">Cryptowatch</a> - Bitcoin market data
        </p>
        <p>
          <a href="https://github.com/artursapek/mondrian">Mondrian</a> - web-based vector graphics illustrator
        </p>
        <h3>Find me</h3>
        <p>
          <a href="https://github.com/artursapek">Github</a>
        </p>
        <p>
          <a href="https://coinbase.com/artur">Coinbase</a>
        </p>
        <h3>Articles</h3>
        <p>
          <a href="/articles/moving-codecademy-to-es6-webpack-and-react/">Moving Codecademy to ES6, Webpack, and React</a>
        </p>
        <br>
        <br>
        <code>
        <p>
          mailto: <a href="mailto:me@artur.co">me@artur.co</a>
        </p>
        <p>
          bitcoin: <a href="bitcoin:14GEaMdKyhRmjknr2FxsgHdc1go6eKcBJi?label=Artur%20Sapek">14GEaMdKyhRmjknr2FxsgHdc1go6eKcBJi</a>
        </p>
        </code>
        <br>
      </td>
      <td>
        <img src="me.jpg" height="700" />
      </td>
    </tr>
  </table>
</body>
</html>
