Trading Notes - Feeling Better Edition
<img src="/static/trading/sup.jpg" width="300" />

<h3 id="trading">Trading Update</h3>

<p >
Feeling a lot more level headed and optimistic about trading. The mistakes I made in
November forced me to think a lot more critically about what I'm doing, and I had a good
month in December (+8k). January is looking to end up as good or better.
</p>

<p >
Most of the reason why is I've become more patient and less greedy. After
November I just said "fuck it I'm opening these positions and not logging in to
Fidelity until January". Worked out well.
</p>

<p >
I realized I needed to regulate my risk by setting a
monthly goal and being consistent. I landed on the number of 3%. Every month I am trying to achieve
a 3% gain on my trading account. I realized that that's still
damn good - about 25% annualized. If I can do that steadily that would be
beating the market 4 times over.  </p>

<p >
My main approach now is just sinking my cash into solid bullish stocks with good volatility
(almost exclusively tech stocks) and selling OTM calls on them for the end of the month,
always above my cost basis. It's a win-win. That fueled most of my gains last month and this
month is looking the same so far.
</p>

<p >
On top of that, just to keep things exciting, I've been finding success with quick YOLO trades
on SPX weeklies. These are awesome because I actually find them (so far) pretty easy to execute
and they are extremely exciting to do. So far 3/3 of my attempts have ended up in gains. These
are small positions but with big returns.
</p>

<p >
<a href="https://www.reddit.com/r/wallstreetbets/comments/5n71v8/30_in_23_minutes/">30% in 23 minutes</a>
<br />
<a href="https://www.reddit.com/r/wallstreetbets/comments/5njxk6/85_in_37_minutes/">85% in 37 minutes</a>
<br />
<br />
...and then I made about 10% yesterday but that was too unremarkable to even
document. It's a very simple setup. When I see SPX start to move with
relatively high volume in a clear direction, I buy faggots delights betting on
that same direction and hold them for 20-30 minutes. The three times I've tried
it so far, it has resulted in double digit gains. This is the first time I've
ever had a "trading setup" so it's mostly an experiment.

</p>

<h3 id="projects">Projects Update</h3>

<p >
But more valuable than the four grand I made doing those trades was the
reinforcement and crystallization of the web project idea I had last Spring - a
trader's diary website. I'm now 100% sure I want to pursue it. It will start off
as a private tool for people to keep a <a href="https://docs.google.com/spreadsheets/d/1fwuvOuJU6b1WWosyXpdgBWSteenlBHd__WKIRiHi8RM/edit#gid=0">trading log</a>, and it will be the best
trading log ever. It will be tuned to just that single use case - writing down trades,
reasoning, and retrospective. It will analyze and visualize your activity/performance
for you in a satisfying way, and make it very easy to input your trades (and import
them from brokerage exports).
</p>

<p >
That's how it will be sold in the beginning. Then, once enough people are using it and it's
stable, I will open it up and allow people to publish their logs and follow
others, thus turning it into a network of sorts. Then there are many
possibilities for improvement and interaction between users. Eventually it could
be like a trader's public portfolio.  </p>

<p >
If it works out, it will replace peoples' spreadsheets and twitter accounts and whatever
else people use to do this. And if it doesn't, at least I will have a tool that I like to use.
</p>

<p >
The name I had originally for it was <code>dear.market</code>. But after talking to Mollie
I realized that name is kind of corny and much better would be the name I'm currently using
for my prototype options visualization tool: <code>burning.cash</code>. So I bought a new, much better
domain for that site, <code>explainoptions.com</code>. I'm kind of amazed it was available.
</p>

<p >
So I will now have two projects: the trading log/trader network called <code>burning.cash</code>, and <code>explainoptions.com</code>.
Explain Options will sort of be like <a href="http://explainshell.com">explainshell.com</a>
combined with <a href="https://gobyexample.com">gobyexample.com</a>. There are two parts: an interactive &amp; visual tutorial that explains 
options to a complete noob, and a calculator tool that visualizes all aspects of an options position.

</p>

<p >
The calculator is a full-screen tool consisting of visualizations like
<a href="https://burning.cash">burning.cash</a> plus several others. It will have charts that
visualize time decay, how that impacts the break-even point, etc. You will just input a position,
and it will visually tell you exactly what you can expect out of it. Maybe it will eventually
even do the opposite: draw a break-even line and have it tell you what to buy/sell.
</p>

<p >
The tutorial explains mostly how options and option pricing work. I'll cover Black-Scholes and
IV and all of that. It will have React components scattered throughout the text like images in a book,
but they will be interactive/animated to explain concepts like time decay. The tutorial will link
to the calculator at various points and vice-versa, to tie the two together.
</p>

<p >
My hope is the calculator will out-do
<a href="http://www.optionsprofitcalculator.com">this POS</a> and take its traffic. Judging by its Alexa ranking
(391,000 global, 72,000 US) and Cryptowatch's (55,000 global, 29,000 US) I can probably pull that off
in a year or two. My biggest competitor will be <a href="http://investopedia.com">investopedia.com</a>
and I will never outrank them overall, but maybe for options-specific things.
</p>

<p >
There's also sites like <a href="http://www.fintools.com/resources/online-calculators/options-calcs/options-calculator/">fintools.com</a>
and <a href="http://www.erieri.com/blackscholes">erieri.com</a> but those barely even
register on Alexa. So we're probably talking like a couple thousand visits per day or less
for them. It's hard not to notice how much all of these suck. They've
probably been around for 15 years and haven't changed. I bet I can use my UI/UX
skills to blow them out of the water and provide the best options tutorial and
calculator on the web.</p>

<p >
The tutorial is huge IMO, because when I was learning options I
found it incredibly hard to find a good, easy to read source that walks you
through it. There's plenty of blog articles, shitty youtube vidoes, and online forum posts. 
I ended up just reading a book, but that took a long time and did not benefit from rich visuals like a website can.
It's surprising nobody is trying to fill this niche well because there's so many noobs on wsb asking "what's an option" "explain
options to me". Hopefully I could capture traffic from search terms like "what are options", "options tutorial", "black scholes calculator",
"implied volatility" etc. So the tutorial is basically the SEO funnel, and the calculator tool will be what keeps people coming back.
</p>

<p >
In terms of monetizing, maybe ads this time. Maybe something else. Who knows.
I'm not worried so much about that part. The hard work will be establishing
another high-traffic site.
</p>

</body>

