Trading Notes - SPX Weeklies Edition
<img src="/static/trading/1485886034755.jpg" width="300" />

<h3 id="trading">SPX stomach churner</h3>

<p >
I need to get this off my chest.
</p>

<p >
I've been having good success lately trading SPX FD's (faggots delights; weekly options). I
buy them with as little time premium as possible and leverage the fuck out of the SPX. A 0.2% move equals 100% gains etc etc.
</p>

<p >
Anyway, a couple
weeks ago I made <a href="https://www.reddit.com/r/wallstreetbets/comments/5r1kuc/100_in_under_an_hour/">100% in under an hour</a> doing this. It fucking works.
This morning I went for it again and it went <i>beautifully</i> and then I made two mistakes in a row 
<i><b>and I knew they were both mistakes as I made them</b></i>. So I am writing them down so I can hopefully avoid them in the future.
</p>

<h3 id="trading">The setup</h3>
<p >
The setup is simple. In the first 10-15 minutes of trading, if the S&amp;P is showing a clear direction one way or the other, just bet on it.
Buy 10-20 SPX FDs. It's so simple it's retarded but the S&amp;P tends to follow its initial trend throughout the day.
</p>

<h3 id="trading">This morning</h3>
<p >
This morning I thought I saw this setup so I bought 16 SPXW170215C2340 for 1.70 at 9:55am or so. You can see the opening bell
volume at 9:30 in pic related. After watching a mild but consistent climb for ~25 min, I went ahead and bought those calls.
Then I walked to the studio.
</p>

<p >
On the way to the studio, I checked my phone and saw my calls went down to 1.10. I said fuck it, this is just a minor retracement and it will continue
to keep going up. So it did. And then it fucking <i>climbed</i> until the calls were going for 5.0, 5.3, 5.5. I felt smug as fuck because I had just
tripled my money right?
</p>

<p >
Well I was feeling greedy and waited to see if it kept climbing. This is when it settled out where I have the 5.5 label on my chart. I could have taken
a $5,000 gain but I didn't because I thought the position still had some juice.
</p>

<p >
After it went sideways for about 15 minutes, I decided the move was over and I should take profits. I opened a sell, but it was a little greedy. I opened
it at 5.50. I <i>saw</i> it go up to the point where 5.5 was the best ask. I was sitting there staring at my monitor watching the 5.5s get filled, and yet
mine didn't. I was begging it "just go up a little bit more". That's when it started to crash (around 11:30).
</p>

<p >
I was cursing out this sell-off but it seemed completely rational that it would happen. After a move like that there's often a retracement about 30-50%
back down. I waited to see if upward volume kicked back in after it seemed to bottom out and it fucking didn't. I was sure it would continue on
the uptrend throughout the rest of the day, so I just opened a stop loss at 2.2 and told it to fuck off.
</p>

<p >
Well the stop loss gods fucked me and somehow it fucking filled. I never saw when because it was a split second when it hit 2.2 and came right back up
to 2.6. So I got completely fucked out of my profits.
</p>

<p >
And then wouldn't you know it. It's back up now much higher than it went before, and I basically fucked myself out of 400% profits by staring at the
chart and panicking like a little bitch. Had I just bought these and taken a nap for the rest of the day, I would have made 6-8 thousand dollars only having risked 2.5.
</p>

<h3 id="trading">Lessons</h3>
<p >
<ol>
<li >
30-50% retracements after a move are normal. Ignore them unless it retraces more than 50%.
</li>
<li >
Ideally take profit when the move has run out of steam (this would have been at 11:15 this morning), or sit through the inevitable profit-taking and wait for the move to resume. Don't fucking sell at the bottom of the profit-taking like a loser.
</li>
</ol>
</p>

<h3 id="trading">Feels bad</h3>
<p >
The hardest part of this for me is I already <i>knew</i> that the market moves in patterns like this. And yet I was too much of a pussy to just hold, and too much of a greedy cunt to take 200% profits when I had them. So both of these combined cucked me hard core. I should have made 200-400% here but I didn't. Hopefully I never make this mistake again.
</p>

<img src="/static/trading/spxfd.png" width="1024" />
