My Coinbase Interview


<img src="/static/interview_toddler.jpg" width="600" />
<i><small>My kid smearing boogers on a glass conference room at Coinbase HQ</small></i>

<p>
It was fun watching Coinbase go public this week, and it conjured up some fun memories. I got to interview at Coinbase in February 2015, one year after I launched Cryptowatch. I’ve never written about it and I figured I should before I get old and forget everything.
</p>
<p>
The company invited me to interview and eventually flew me out to San Francisco to endure their famous work trial, which lasted for a week. Despite being paid for my time, I found the request a bit awkward because I had to take a week off my current job at Codecademy in NYC. I decided to fess up and tell them what I was doing, and they were really cool about it.
</p>
<p>
The work trial also felt awkward because you’re in a brand new social environment where you’d like to fit in, but you only have a week to do so (and everyone is understandably busy dealing with their own stuff). It usually takes more than a week to integrate into a new community or workplace. In the work trial I started to do that, and then it was over.
</p>
<p>
Overall it was kind of a wild experience. You are suddenly in their office, sitting among them, with access to their git repos, group chat, everything.
</p>
<p>
I was paired up with an unnamed JavaScript dev who had basically created GDAX single-handedly. He was an eccentric guy who walked around the office barefoot. He threw me into the GDAX code base and asked me to make a bunch of improvements to the front end. I think I added the SMA lines to their chart code, and some other data views.
</p>
<p>
My partner fit the stereotype of opinionated JavaScript dev; the GDAX UI was written in some custom framework he had developed himself, which I had to learn on the job. He was clearly a move-fast, high-output type of dev.
</p>
<p>
I toiled away for a week on his code, which I remember not enjoying. I also sat in on some unrelated architecture discussions and got interviewed by a couple more guys. The team tried hard to include me in stuff and get my opinions.
</p>
<p>
The company culture overall was what you'd expect from mid-2010s Silicon Valley. One unique thing about the place, besides its high concentration of early Bitcoin enthusiasts, was that they took security extremely seriously. They had senior staff working only on systems security, and gave a technical security-related presentation at an all-hands meeting. It was clearly a key part of their company culture. Being a Krakenite for almost 5 years I now know that this is a do-or-die requirement in crypto custody, but it was pretty new to me then.
</p>
<p>
Brian and Fred both sat down to interview me one on one, which in hindsight they really didn’t have to do considering the size of the company and the fact I was just a dev with 2 years of industry experience. They were really smart guys and I enjoyed those interviews.
</p>
<p>
I also had to present my week’s work to Brian, Fred, Charlie Lee (lol), and some others. Brian said it didn’t look like I had gotten very much done, and he was right. I probably had a pretty bad answer to that. In hindsight I find his comment painful and funny at the same time, now knowing how Brian was an engineer and built the first prototype of Coinbase by himself.
</p>
<p>
I also remember telling them I thought it was a mistake to try building their own “pro” UI for GDAX, and that they should focus on being competitive with their exchange’s API, features, and liquidity. I argued that third party aggregators like Cryptowatch would be able to focus hard and build a better UI than exchanges can all build for themselves.
</p>
<p>
While I was out there, I also hit up Jesse to see if he wanted to meet up. We had never met but emailed back and forth a few times. He invited me to visit the Kraken office, which was a lot more modest than Coinbase’s. I came by after I was done at Coinbase one evening. Most people had gone home already. Jesse was there with a few other guys, and we shot the shit for about an hour. It was very casual. Compared to Coinbase, Kraken was a scrappy underdog startup, which I liked.
</p>
<p>
After I flew home to NYC the Coinbase recruiter called me and politely rejected my application. I was not really surprised, and didn’t much feel like working there. Life went on. I stayed in touch with Kraken, and ended up joining the following year.
</p>
<p>
All in all, things seem to have worked out for everyone. Congratulations to Brian, Fred, and everyone else at Coinbase on going public. I look forward to experiencing that from the inside at Kraken.
</p>

<img src="/static/work_trial.png" width="600" />
<i><small>No pressure</small></i>
