I Love Amazon

<img src="/static/bezos.jpg" width="600" />

<p>
I saw a thread on Hacker News recently where people were discussing how they would rank
the "big 5" in order of how much they trust them. The big 5 being:

<ul>
  <li>Facebook</li>
  <li>Apple</li>
  <li>Amazon</li>
  <li>Google</li>
  <li>Microsoft</li>
</ul>

Everyone agreed Facebook was dead last, there wasn't even a discussion about that. Fuck Facebook.
And that was the only consistency; the order of the rest of them basically varied from comment to comment
and there was some decent debate about it.
</p>

<p>
That discussion got me exploring how I feel about these companies for the last
few weeks and as my feelings have become clearer I noticed that my stock trading choices have subconsciously (or consciously?) reflected those feelings.
Of these big 5, I have easily put the most money into $AMZN. And it's because, I have come to realize,
I fucking love Amazon.
</p>

<p>
I love Amazon because they don't try to pretend they're something they're not. Of the big 5, they
are the most comfortable with who they are and what they do. It's simple: "We sell you whatever you want, and mail
it to your house really fast. And we have a massive cloud computing platform."
</p>

<p>You don't get <i>nearly</i> as much cheesy over-dramatized advertising, through-the-teeth lying, or dystopian corporate propaganda from Amazon
that you do from <a href="https://www.youtube.com/watch?v=8CsNvWxxG_U">Microsoft</a>,
<a href="https://www.youtube.com/watch?v=sQB2NjhJHvY">Apple</a>,
<a href="https://www.inverse.com/article/17857-diversity-google-doodle-of-juno-mission-jet-propulsion-laboratory-nasa">Google</a>,
and <a href="https://www.youtube.com/watch?v=nXrKKwHmPz4">Facebook</a>. Hell, Amazon doesn't even try
to pretend it treats its employees well. Everyone knows it's practically a first world sweat shop.
But of all of these companies, I think Amazon is the first place I'd consider interviewing for a job.
Because I know they wouldn't try to bull shit me.
</p>

<p>
Amazon's corporate PR strategy amounts to, "Yeah, we do x y and z, we do them better than anyone else,
and we expect people to work their ass off. Want a nap pod, unlimited La Croix, and free hand jobs at your desk?
Go work at Facebook or Google you pussy. Oh and by the way our stock goes up 50% like every 6 months. Fuck off."
</p>

<p>
I'm not even holding stocks right now, I could care less if theirs keeps going up. I am just constantly amazed by how much of a machine that
company is. Never change, Bezos.
</p>
