Hedging Against Watergate
<p>
Trump really is as dumb as they warned us. Last week when he fired Comey I thought to myself,
"this won't end well" and after the market kept stable for a day or two I bought 5 SPX
May 26 2380 puts (<code>SPXW 170524 P 2380</code>). Cost basis is $6,358.42.
</p>

<p>
It wasn't particularly calculated - I just had roughly that much cash sitting idle so I moved
it into a puts position that had a couple weeks to breathe. Just bought the fuckers with a market
order.
</p>

<p>
For the next several days the market edged up and my puts deteriorated,
to the point where I was down about 75%. Yesterday I thought about selling them
and cutting my losses but decided to stick to my guns and let the position run
its course. Well, today I was vindicated in doing so as the market fell over 1.5%.
</p>

<p>
Part of the reason I'm writing this post is to highlight how effective options can be for
hedging. My portfolio is very simple right now:

<pre>
Ticker              Qty       Cost basis
AMZN                100       $93,799.45
FB                  600       $89,866.95
GOOG                100       $92,605.98
SPXW 170524 P 2380  5         $6,358.42
</pre>

Today, with the bloodbath from the Comey memo, the end-of-day change was:

<pre>
Ticker             Abs           Percent
AMZN               -$2,131.00    -2.21%
FB                 -$2,958.00    -3.29%
GOOG               -$2,338.00    -2.48%
SPXW170524P2380    +$11,450.00   +618.92%
                   +$4,023.00    +1.42%
</pre>

So a $6000 position protected my entire portfolio from a 2.5% drop - I actually <i>made</i> 1.4%.
Of course the puts trade was purely based on gut instinct that the market has been on thin ice
and I just as easily could have been wrong, but I feel good about the fact that I stuck with my
original trade plan and it's working out how I expected. You can't control whether you're right
but you can control how consistent you are.
</p>
