AMZN loss

<img src="/static/trading/cosby.png" width="400" />

<p>
I just closed out of a shitty position on AMZN and want to reflect on it so I
don't repeat the mistake. Overall I lost about $20k, or 8% of my account (just like during the election)
</p>

<p>
<b>Mistake #1</b>: terrible entry point. I bought in at $996, which at the time was AMZN's peak. I think
at its highest it has only reached $1015 since. In order for my position to work, AMZN would have had to keep
hitting new highs for a month or two.
</p>

<p>
<b>Mistake #2</b>: way too much exposure. I basically went all-in on AMZN. Not methodical at all. As an added bonus,
soon after I opened the position Goldman took a huge shit on the tech sector. The guy who sold me my calls must have been celebrating.
</p>

<p>
<b>Mistake #3</b>: greed. This is related to #2. I completely ignored/forgot about my personal goal of 3% gain per month,
which I have been making consistently since I set the goal after <a href="/blog/11-23-16-trading-notes">my last big loss during election season</a>.
Aiming for a modest return works; greed doesn't.
</p>

<p>
As a footnote on #1 and #2, after the tech sink I was writing on reddit that I was really tempted to buy <i>more</i> when it was down
at ~$950, because it was "on sale". <i>This</i> would have been a good entry point. I didn't do it because I was aware of how
risky it would have been to expose myself to it even more, but this is the kind of entry point I need to look for. Having my account mostly
in cash makes me anxious because of FOMO, but it's a total fallacy. My account loses money much slower when it's in cash than when I open
a half-assed position.
</p>

<p>
<b>XIV</b>: Side note, I don't fucking understand XIV. It's like helium. I'm going to stick to trading that since
that was working well and was not exposed to bad news cratering it the way AMZN got rammed by Goldman this month.
VIX is way too low to buy right now I think, going to wait for another dip...
</p>
