Preschooler Secure Password Technique

<img src="/static/DSCF1707.JPG" width="600" />

<p>
Working in the Bitcoin industry for a while my standards for security have gotten pretty strict.
I have been generating my passwords on a permanently offline device and transcribe them by hand into a note pad
which I keep in an undisclosed location. I don't store them anywhere else and manually input them into my computer every time.
</p>

<p>
Lately as I read more on Wikileaks my trust even in completely open source password generators like <code>apg</code> is starting
to vanish. Nobody can really be trusted. At least, nobody who is competent enough to take advantage
of you. That's where my kid comes in. Lately I have been asking him to generate my passwords for me.
</p>

<p>
He just thinks it's a game, which it sort of is. Our usual ground rules are as follows:

<ul>
  <li>Before we start I mix the magnets thoroughly by shaking them in a bag.</li>
  <li>We never say the characters out loud as he is putting them on the fridge. This is slowing down his learning the alphabet, but security comes at a cost.</li>
  <li>The window in the kitchen is covered with a blanket the entire time.</li>
  <li>Obviously, after we're done we take the magnets off the fridge.</li>
</ul>
</p>

<p>
I dub this <code>pspt</code> - the Preschooler Secure Password Technique. As of now it's completely open source
and the best part is, it's software free (hence, backdoor free).
</p>
