Treasures and Trash of the East Village

<p>
Of the NYC neighborhoods I've lived in, the EV is definitely my favorite.
It's likely we'll be leaving soon so I wanted to reflect on what I'll remember most.
</p>

<h3>Treasure: Abraco</h3>

<p>
The absolute best small-biz coffee shop I've found in NYC. The owner and his wife run it as a duo; he
roasts the coffee and she bakes the pastries. Both are amazing. I exclusively use their espresso beans
at home (unless I run out on a Monday - they only day they're closed!)
</p>

<p>
Another wonderful thing about this place is it has a strict no laptop policy. Their outlets are covered in tape that says
"no laptops - it ruins the vibe." This is refreshing since the rest of the area is dotted with Starbucks and The Bean locations, which are basically homeless shelters
for millenials who spent this month's rent on a new MacBook. It's a characteristic that I wish other coffee shops would emulate.
</p>

<h3>Trash: The Finance Bros and NYU Students</h3>

<p>
These man-children and the basic bitches they party with really are a regrettable growing population
in the East Village. At least 3 nights a week the area is full of losers wearing Cole Haans drinking
overpriced beer and blaring Goldstein Records until past midnight.
</p>

<p>
I imagine they're so tired from being overworked and abused
in their office jobs that the only thing they want to do at the end of the week is get
drunk, shout at each other, and have sex.
</p>

<p>
The following morning our stoop is adorned with Red Stripe bottles, cigarette butts, and if we're lucky some regurgitated hummus from Cafe Mogador.
I wouldn't even mind them if it weren't for that. That and how loud they are.
</p>

<h3>Treasure: The Tompkins Square Playground (on Ave A)</h3>

<p>
There's nothing particularly special about this playground equipment-wise, but the people who frequent it are my favorite.
We've made a lot of friends and memories here. It's an oasis for all of the families who live in the EV.
</p>

<h3>Trash: The Vagrants and Rats</h3>

<p>
Tompkins is also home to a lot of rats and junkies. One time I was walking down St. Marks wearing a
red and white striped shirt, and a group of these tan dirty vagrants shouted at me "Where's Waldo!"

They leave their mark on the park; rat shit in the sandbox and syringes/condoms in the grass. At least the rats don't know better, so I can maybe give them a pass.
</p>

<h3>Treasure: The Tompkins Square Jazz Band</h3>

<p>
</p>

<h3>Treasure: Veselka</h3>

<p>
</p>

