Impressions of the Model 3

<img src="/static/model3_sunrise.jpg" width="600" />

<p>I rented a 3 for a couple days using Turo, just to try it out. The one I had was the performance version. Pic related is me enjoying a beautiful Colorado sunrise while zooming down an empty road. Here are my impressions of the car:</p>

<p>
<b>Pros</b>
<ul>
  <li>It's fast as hell</li>
  <li>It's really quiet, and the sound it does make when accelerating is like a sci-fi spaceship</li>
  <li>Its clutter-free interior has a certain zen to it</li>
  <li>The regenerative breaking is very weird at first, but once you learn how to use it it's a nice way of conserving range. Often I don't need to use the break pedal at all until the car is basically stopped and I just want to go into "Hold" mode. It makes a lot of sense for driving in town.</li>
  <li>The ability to configure driver profiles with things like steering, acceleration, "creep", is really nice</li>
  <li>You can idle guilt-free</li>
  <li>You just feel cool driving it</li>
</ul>

<b>Cons</b>
<ul>
  <li>When going 60mph+ the dash sometimes makes creeky noises that indicate something is loose; it feels a bit cheap</li>
  <li>"Easy entry" is, in my opinion, awkward and annoying... and I'm 6ft tall. I guess it's more for people like Shaq.</li>
  <li>I did miss having physical buttons for certain things, like climate controls and opening the trunk. I think they took the touch screen thing too far. It's not possible to use the screen without looking at it. You can't just use tactile feedback + muscle memory.</li>
  <li>The car allows equally strong acceleration when in reverse; this surprised me when I was parallel parking and I almost went onto the curb. I guess this isn't an issue if you're not a noob. It only stunned me because the car had "creep" disabled so I had to use the accelerator.</li>
</ul>
</p>

<p>
I suppose some of these points apply to all of the Tesla models (or even all electric cars), but this was my first experience with any of them.
</p>

<p>
I was considering buying a Model 3, but after lugging two kids in car seats around in it my conclusion is it's not a good family car. It's perfect for a commuter, or perhaps a couple with older kids. For us, since we're aiming to be a single-car family I think it would have to be Model X (or perhaps Model Y, depending on what that turns out to be).
</p>
