<html>
  <head>
    <title>
      Photo Albums
    </title>
    <link rel="stylesheet" href="/assets/styles/photos/album.css" />
    <meta name="robots" content="noindex">
  </head>

  <body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; albums
    </header>

    <main>
      <h1>Photo Albums</h1>
      <table>
      {{ range $i, $album := .Albums }}
        <tr>
          <td width="160">
            {{ $album.Date }}
          </td>
          <td>
            <a href="/albums/{{ $album.Slug }}">{{ $album.Title }}</a>
          </td>
        </tr>
      {{ end }}
      </table>

      <br>

      <hr>

      <br>

      <h2>Raw</h2>

      <a href="/raw">artur.co/raw</a>
    </main>
  </body>
</html>
