<html>
	<head>
		<title>
			{{ $.Current.Title }}
		</title>
		<link rel="stylesheet" href="/assets/styles/photos/album.css" />
	</head>

	<body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; <a href="/albums">albums</a> &gt; {{ $.Current.Title }}
    </header>

		<main>
      <h1>{{ $.Current.Title }}</h1>
      <h3>{{ $.Current.Date }}</h3>

			{{ range $i, $item := $.Current.Content }}
        <article id="{{ $item.BaseFilename }}">
          <div class="photo-opts">
            <a 
               href="/{{ $item.Type }}s/{{ $item.Src }}"
              title="Permalink to this {{ $item.Type }}"
            >permalink</a>
            <a 
              href="#{{ $item.BaseFilename }}"
              title="Permalink to this {{ $item.Type }}"
            >anchor</a>
            {{ if eq $item.Type "photo" }}
              <a 
                href="{{ $item.RawURL }}"
                title="Raw copy of this {{ $item.Type }}"
              >raw</a>
            {{ end }}
          </div>

          {{ if eq $item.Type "photo" }}
            <img src="{{ $item.ResizedURL }}" />
          {{ else if eq $item.Type "video" }}
            <video src="{{ $item.RawURL }}" controls></video>
          {{ end }}

          {{ if $item.Caption }}
            <p>{{ $item.Caption }}</p>
          {{ end }}

        </article>
			{{ end }}

		</main>

    <footer>
      <table>
        <tr>
          <td width="400">
            {{ if ne $.Prev.Slug "" }}
            &larr; <a href="/albums/{{ $.Prev.Slug }}">{{ $.Prev.Title }}</a>
            {{ end }}
          </td>
          <td width="400" align="right">
            {{ if ne $.Next.Slug "" }}
            <a href="/albums/{{ $.Next.Slug }}">{{ $.Next.Title }}</a> &rarr;
            {{ end }}
          </td>
        </tr>
      </table>
    </footer>

	</body>
</html>
