<html>
  <head>
    <title>
      {{ $.Current.Title }}
    </title>
    <link rel="stylesheet" href="/assets/styles/photos/album.css" />
    <meta name="robots" content="noindex">
  </head>

  <body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; <a href="/albums">albums</a> &gt; {{ $.Current.Title }}
    </header>

    <main>
      <h1>{{ $.Current.Title }}</h1>
      <h3>{{ $.Current.Date }}</h3>

      {{ range $i, $item := $.Current.Content }}

        {{ if eq $item.Type "paragraph" }}
        <article id="p{{ $i }}">
          <p>{{ $item.SrcAsHTML }}</p>
        </article>
        {{ else }}
          <article id="{{ $item.BaseFilename }}">
            <div class="photo-opts">
              <opt>
                <a
                   href="/{{ $item.Type }}s/{{ $item.Src }}"
                  title="Permalink to this {{ $item.Type }}"
                >permalink</a>
              </opt>
              <opt>
                <a
                  href="#{{ $item.BaseFilename }}"
                  title="Permalink to this {{ $item.Type }}"
                >anchor</a>
              </opt>
              {{ if eq $item.Type "photo" }}
                <opt>
                  <a 
                    href="{{ $item.RawURL }}"
                    title="Raw copy of this {{ $item.Type }}"
                  >raw</a>
                </opt>

                <menu>
                  <form action="/{{ $item.Type }}s/{{ $item.Src }}" method="POST">
                    <input type="hidden" name="redirect" value="/albums/{{$.Current.Slug}}/#{{ $item.BaseFilename }}" />
                    <input type="hidden" name="rotate" value="90" />
                    <input type="submit" value="90" />
                  </form>
                  <form action="/{{ $item.Type }}s/{{ $item.Src }}" method="POST">
                    <input type="hidden" name="redirect" value="/albums/{{$.Current.Slug}}/#{{ $item.BaseFilename }}" />
                    <input type="hidden" name="rotate" value="180" />
                    <input type="submit" value="180" />
                  </form>
                  <form action="/{{ $item.Type }}s/{{ $item.Src }}" method="POST">
                    <input type="hidden" name="redirect" value="/albums/{{$.Current.Slug}}/#{{ $item.BaseFilename }}" />
                    <input type="hidden" name="rotate" value="270" />
                    <input type="submit" value="-90" />
                  </form>
                </menu>
              {{ end }}
            </div>

            {{ if eq $item.Type "photo" }}
              <img src="{{ $item.ResizedURL }}" />
            {{ else if eq $item.Type "video" }}
              <video src="{{ $item.RawURL }}" controls></video>
            {{ end }}

            {{ if $item.Caption }}
              <p>{{ $item.Caption }}</p>
            {{ end }}

          </article>
        {{ end }}
      {{ end }}

    </main>

    <footer>
      <table>
        <tr>
          <td width="400">
            {{ if ne $.Prev.Slug "" }}
            &larr; <a href="/albums/{{ $.Prev.Slug }}">{{ $.Prev.Title }}</a>
            {{ end }}
          </td>
          <td width="400" align="right">
            {{ if ne $.Next.Slug "" }}
            <a href="/albums/{{ $.Next.Slug }}">{{ $.Next.Title }}</a> &rarr;
            {{ end }}
          </td>
        </tr>
      </table>
    </footer>

  </body>
</html>
