<html>
	<head>
		<title>
			{{ $.Title }}
		</title>
		<link rel="stylesheet" href="/assets/styles/photos/album.css" />
	</head>

	<body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; <a href="/albums">albums</a> &gt; {{ $.Title }}
    </header>

		<main>
      <h1>{{ $.Title }}</h1>
      <h3>{{ $.Date }}</h3>

			{{ range $i, $item := $.Content }}
				<article>
          {{ if eq $item.Type "photo" }}
            <a href="{{ $item.RawURL }}">
              <img src="{{ $item.ResizedURL }}" />
            </a>
            {{ if $item.Caption }}
            <p>{{ $item.Caption }}</p>
            {{ end }}
          {{ else if eq $item.Type "video" }}
            <video src="{{ $item.RawURL }}" controls />
          {{ end }}
        </article>
			{{ end }}
		</main>
	</body>
</html>
