<html>
	<head>
		<title>
			Photo Albums
		</title>
		<link rel="stylesheet" href="/assets/styles/photos/album.css" />
	</head>

	<body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; albums
    </header>

    <main>
      <h1>Photo Albums</h1>
      <table>
			{{ range $i, $album := . }}
        <tr>
          <td width="100">
            {{ $album.Date }}
          </td>
          <td>
            <a href="/albums/{{ $album.Slug }}">{{ $album.Title }}</a>
          </td>
        </tr>
      {{ end }}
      </table>

      <p>
        <i>Old albums are being migrated. In the meantime they are accessible <a href="https://artur.co/oldphotos/">here</a>.</i>
      </p>

      <br>

      <h2>Raw</h2>
      <p>Access the raw photo &amp; video repository at <a href="http://raw.artur.co">raw.artur.co</a></p>
		</main>
	</body>
</html>
