<html>
  <head>
    <title>
      Photo
    </title>
    <link rel="stylesheet" href="/assets/styles/photos/album.css" />
    <meta name="robots" content="noindex">
  <style>
    h2, h4 {
      font-weight: normal;
    }
    h2 {
      margin: 0 0 10px 0;
      padding: 0;
    }

    h4 {
      margin: 0 0 0 20px;
      padding: 5px;
      display: inline-block;
    }

    a:hover h4 {
      text-decoration: underline;
    }

    .year {
      width: 150px;
      float: left;
    }
  </style>
  </head>

  <body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; photos
    </header>

    <main>
      <h1>Photos</h1>
      {{ range $i, $year := .Years }}
        <div class="year">
          <h2>
            {{ $year }}
          </h2>

          {{ range $ii, $month := ( index $.Months $year) }}
            <a href="/photos/month/{{ $year }}/{{ $month }}"><h4>{{ $month }}</h4></a> <br />
          {{ end }}
        </div>
      {{ end }}
    </main>
  </body>
</html>

