<html>
  <head>
    <title>
      Photo
    </title>
    <link rel="stylesheet" href="/assets/styles/photos/album.css" />
    <meta name="robots" content="noindex">
  <style>
    h1 {
      font-weight: normal;
    }

    .thumb {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      display: inline-block;
    }

    .thumb a {
      display: block;
    }
  </style>
  </head>

  <body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; <a href="/photos">photos</a> &gt; {{ $.Year }} &gt; {{ $.Month }}
    </header>

    <main>
    <h1>{{ $.Year }} / {{ $.Month }}</h1>
      {{ range $i, $photo := .Photos }}
        <div class="thumb">
          <a href="/photos/permalink/{{ $photo.Src }}"><img src="{{ $photo.ThumbURL }}" /></a>
        </div>
      {{ end }}
    </main>
  </body>
</html>


