<html>
  <head>
    <title>
      {{ $.Src }}
    </title>
    <link rel="stylesheet" href="/assets/styles/photos/album.css" />
  </head>

  <body>
    <header id="breadcrumbs">
      <a href="/">artur.co</a> &gt; <a href="/albums">{{ $.Type }}s</a> &gt; <a href="/raw/{{ $.ContentItem.Type }}s/{{ $.ContentItem.Year }}/{{ $.ContentItem.Month }}">{{ $.ContentItem.Year }}/{{ $.ContentItem.Month }}</a> &gt; {{ $.Base }}
    </header>

    <main>
      <table width="100%">
        <tr>
          <td rowspan="2">
            {{ if eq $.Type "photo" }}
              <img src="{{ $.ResizedURL }}" />
            {{ else if eq $.Type "video" }}
              <video src="{{ $.RawURL }}" controls></video>
            {{ end }}

          </td>

          <td valign="top" align="right" width="500">
            <table width="100%" id="exif">
              <tr>
                <td>
                  Filename:
                </td>
                <td align="right">
                  {{ $.Src }}
                </td>
              </tr>
              {{ if ne $.Time.Unix -62135596800 }}
                <tr>
                  <td>
                    Local time:
                  </td>
                  <td align="right">
                    {{ $.Time.Format "Mon, Jan 2 2006 at 3:04:05pm" }}
                  </td>
                </tr>
              {{ end }}
              <tr>
                <td>
                  Raw:
                </td>
                <td align="right">
                  <a href="{{ $.RawURL }}">{{ $.RawURL }}</a>
                </td>
              </tr>
              <tr>
                <td>
                  YAML
                </td>
                <td>
                  <textarea style="width: 400px; height: 50px" onclick="this.focus();this.select()">
- type: {{ $.Type }}
  src: {{ $.Src }}</textarea>
                </td>
              </tr>

              <tr>
                <td>
                </td>
                <td>
                  <div>
                    {{ if ne $.PrevLink "" }}
                      <a href="{{ $.PrevLink  }}">
                        Prev
                      </a>
                    {{ end }}
                    <span> - </span>
                    {{ if ne $.NextLink "" }}
                      <a href="{{ $.NextLink }}">
                        Next
                      </a>
                    {{ end }}
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
      <td valign="bottom" align="right" width="400">

        {{ if $.Location.Valid }}
        <div id="map" style="width: 400px; height: 200px; border: 1px solid #ccc"></div>
        <br>
        <div><code>{{ $.Location.String }}</code></div>

        <script src="/assets/scripts/d3.v3.min.js"></script>
        <script src="/assets/scripts/topojson.v1.min.js"></script>
        <script>

          var width = 400,
            height = 200;

          var projection = d3.geo.equirectangular()
            .scale(70)
            .translate([width / 2, height / 2])
            .precision(.1);

          var path = d3.geo.path()
            .projection(projection);

          var graticule = d3.geo.graticule();

          var svg = d3.select("#map").append("svg")
            .attr("width", width)
            .attr("height", height);

          svg.append("path")
            .datum(graticule)
            .attr("class", "graticule")
            .attr("d", path);

          d3.json("/assets/data/world.json", function(error, world) {
          svg.insert("path", ".graticule")
            .datum(topojson.feature(world, world.objects.land))
            .attr("class", "land")
            .attr("fill", "#CCC")
            .attr("d", path);
          });

          var coords = projection([{{ $.Lng }}, {{ $.Lat }}]);

          svg.append("circle")
            .attr("cx", coords[0])
            .attr("cy", coords[1])
            .attr("r", 3)
            .attr("fill", "black")

        </script>
      {{ end }}
      </td>
        </tr>
      </table>
    </footer>
  </body>
</html>
